h1 #{title}
p List of Blog
p #{message}
div#blogs
- each blog in blogs
	div.blog
		div.blog_title
			a(href='/blogs/'+blog._id) #{blog.title}
		div.blog_body
		=blog.body
	a(href='/blogs/'+blog._id+'/edit') Edit
